#analysisDisplayRoot {
  flex: 1;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

#analysisDisplayRoot > div {
  margin-bottom: 2vh;
}

#analysisDisplayRoot > div > p {
  margin: 0px;
  padding: 0px;
}

.divider {
  border-top: 1px solid #4d4d4d;
  margin-bottom: 0.25vh;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.25vh;
  padding: 0px;
}
