#analyzerRoot {
  flex: 1;
  flex-direction: row;
  height: 96vh;
  margin: 0px;
  padding: 0px;
}

#analyzerLeft {
  flex: 4;
  flex-direction: column;
}

#analyzerRight {
  flex: 2;
  flex-direction: column;
}

.short-input {
  font-size: 1.2em;
  padding-bottom: 0.2ch;
  padding-left: 0.8ch;
  padding-right: 0.8ch;
  padding-top: 0.3ch;
  flex: 8;
}

#liteAppNote {
  align-self: center;
  color: #737373;
}

.activeAnalyzerButton {
  background-color: #f0b90b;
  border-color: transparent;
  color: black;
  font-size: 1.2em;
  flex: 1;
  margin-left: 1vw;
  padding-bottom: 0.2ch;
  padding-left: 0.8ch;
  padding-right: 0.8ch;
  padding-top: 0.3ch;
}

#analyzeButton:active {
  background-color: #aa8508;
}

.inactiveAnalyzerButton {
  background-color: gray;
  border-color: transparent;
  color: black;
  flex: 1;
  font-size: 1.2em;
  margin-left: 1vw;
  opacity: 0.5;
  padding-bottom: 0.2ch;
  padding-left: 0.8ch;
  padding-right: 0.8ch;
  padding-top: 0.3ch;
}

#refreshButton:active {
  background-color: #aa8508;
}

#liteAppNote {
  color: #737373;
  position: absolute;
  bottom: max(2rem, 7vh);
}
